.blue-border {
    border-color: #bae1ff !important;
}

.green-border {
    border-color: #baffc9 !important;
}

.yellow-border {
    border-color: #ffffba !important;
}

.orange-border {
    border-color: #ffdfba !important;
}

.red-border {
    border-color: #ffb3ba !important;
}